@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible");
body {
	font: 20px "Atkinson Hyperlegible", sans-serif;
	color: white;
	background-color: #252525;
	margin: 0px;
}
header {
	font: bold 14px Ubuntu, sans-serif;
	background-color: black;
	padding: 17px 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}
	.hdL {
		font: bold 28px Ubuntu, sans-serif;
	}
	.hdC {
		display: flex;
		gap: 25px;
	}
	.hdE {
		transition: 0.2s; 
		opacity: 0.6; /* color: #B0B0B0; */
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 3px;
	}
		.hdE:hover {
			transition: 0.1s;
			opacity: 1;/* color: white; */
			text-decoration: underline #B0B0B0;
			text-shadow: 0px 0px 36px white;
		}
		.hdE:active {
			transition: 0.1s;
			opacity: 0.5;
		}
.crd1 {
	background-color: #101010;
	padding: 100px 100px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.h2 {
	font: bold 38px Ubuntu, sans-serif;
}
.cen {
	float: right;
}
.crd2 {
	background-color: #303030;
	padding: 100px 100px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}