@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible");
body {
	font: 20px "Atkinson Hyperlegible", sans-serif;
	color: white;
	background-color: #232323;
	margin: 0px;
}
header {
	font: bold 14px Ubuntu, sans-serif;
	background-color: black;
	padding: 20px 3vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 3vw;
	
}
	.hdL {
		font: bold 24px Ubuntu, sans-serif;
		align-items: center;
		display: flex;
		transition: 0.2s;
		cursor: pointer;
	}
		.hdL:hover {
			transition: 0.1s;
			filter: drop-shadow(0 0 8px #B0B0B0);
		}
		.hdL:active {
			transition: 0.1s;
			filter: drop-shadow(0 0 12px white);
		}
	.hdLOG {
		height: auto;
		max-height: 28px;
	}
	.hdC {
		display: flex;
		gap: 2vw;
	}
	.hdE {
		transition: 0.2s; 
		filter: brightness(0.6);/* opacity: 0.6; /* color: #B0B0B0; */
		cursor: pointer;
		display: flex;
		padding: 4px 0px;
		margin: 0px;
		align-items: center;
		gap: 4px;
	}
		.hdE:hover {
			transition: 0.1s;
			filter: brightness(1); /* opacity: 1;/* color: white; */
			text-decoration: underline #B0B0B0;
			text-shadow: 0px 0px 36px white;
			
			padding-top: 6px; padding-bottom: 2px;
		}
		.hdE:active {
			transition: 0.1s;
			filter: brightness(0.5); /* opacity: 0.5; */
			padding-top: 8px;  padding-bottom: 0px;
		}
.crd1 {
	background-color: #151515;
	padding: 14vh 9vw;
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	clear: both;
}
.h2 {
	font: 6vh Ubuntu, sans-serif;
}
.imgG {
	border: solid 1px #505050;
	min-width: 200px;
	width: 70vw;
}
.crd2 {
	background-color: none;
	padding: 110px 10vw;
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}
.ruleta {
	flex-flow: row wrap;
	display: flex;
	gap: 3vh 3vw;
	justify-content: center;
}
.ficha {
	font: 18px "Atkinson Hyperlegible", serif;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	/* justify-content: space-between; /* < Hace que el texto se fije abajo. */
	gap: 10px;
	padding: 20px;
	min-width: 100px;
	max-width: 12vw;
}
.imgf {
	min-width: 100px; width: 12vw;
	border: solid 1px #505050;
	border-radius: 4px;
	background-color: #303030;
}
.h3 {
	font: bold 32px "Roboto", sans-serif;
}
/* SECCION 3 : DICHO */
.crd3 {
	background-color: #1C1C1C;
	display: flex;
	flex-direction: column;
	padding: 100px 12vw;
	justify-content: center;
}
blockquote {
	font-size: xx-large;
	font-style: italic;
	text-align: center;
}
.comiz {
	margin-right: 40px; float: left;
}
.comid {
	margin-left: 40px; float: right;
}
.autor {
	font-size: large;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}
footer {
	font-size: 16px;
	color: #606060;
	background-color: #131313;
	border: solid 1px black;
	padding: 20px 23px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
hr {
	border: solid 1px #505050;
	width: 80%;
}
.crd4 {
	background-color: none;
	padding: 100px 10vw;
	align-items: center;
	display: flex;
	justify-content: center;
}
.globo {
	background-color: #403070;
	border-radius: 18px;
	padding: 6vh 5vw;
	display: flex;
	gap: 4vw;
	align-items: center;
	box-shadow: 0px 2px 6px 0px #101010;
}
.h4 {
	font: bold 26px "Roboto", sans-serif;
}
.gtxt {
	font: 20px "Atkinson Hyperlegible", sans-serif;
	flex-direction: column;
	display: flex;
	gap: 10px;
}
.dark {
	filter: brightness(0);
}